.logo, .logo_text{
    display: inline-block;
    white-space:nowrap;
}
.logo{
    width: 60%;
    float: left;
    padding-left: 100px;
    font-size: 24px;
    color: #f9faf8;
}
.logo_text {
    width: 20%;
    text-align: right;
}
header{
    background-color: #1f2937;
}